In [3]:
from pyspark import SparkContext
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.getOrCreate()

In [5]:
df = spark.read.format("csv").option("header", "true").option("inferSchema", "true").load("parking_violation.csv")

In [4]:
df.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- Summons_Number: long (nullable = true)
 |-- Plate_ID: string (nullable = true)
 |-- Registration_State: string (nullable = true)
 |-- Plate_Type: string (nullable = true)
 |-- Issue_Date: string (nullable = true)
 |-- Violation_Code: integer (nullable = true)
 |-- Vehicle_Body_Type: string (nullable = true)
 |-- Vehicle_Make: string (nullable = true)
 |-- Issuing_Agency: string (nullable = true)
 |-- Street_Code1: integer (nullable = true)
 |-- Street_Code2: integer (nullable = true)
 |-- Street_Code3: integer (nullable = true)
 |-- Vehicle_Expiration_Date: string (nullable = true)
 |-- Violation_Location: double (nullable = true)
 |-- Violation_Precinct: integer (nullable = true)
 |-- Issuer_Precinct: integer (nullable = true)
 |-- Issuer_Code: integer (nullable = true)
 |-- Issuer_Command: string (nullable = true)
 |-- Issuer_Squad: string (nullable = true)
 |-- Violation_Time: string (nullable = true)
 |-- Time_First_Observed: string (nullable = true)
 |-- Violation_County: string (nullable = true)
 |-- Violation_In_Front_Of_Or_Opposite: string (nullable = true)
 |-- House_Number: string (nullable = true)
 |-- Street_Name: string (nullable = true)
 |-- Intersecting_Street: string (nullable = true)
 |-- Date_First_Observed: string (nullable = true)
 |-- Law_Section: double (nullable = true)
 |-- Sub_Division: string (nullable = true)
 |-- Violation_Legal_Code: string (nullable = true)
 |-- Days_Parking_In_Effect____: string (nullable = true)
 |-- From_Hours_In_Effect: string (nullable = true)
 |-- To_Hours_In_Effect: string (nullable = true)
 |-- Vehicle_Color: string (nullable = true)
 |-- Unregistered_Vehicle?: double (nullable = true)
 |-- Vehicle_Year: double (nullable = true)
 |-- Meter_Number: string (nullable = true)
 |-- Feet_From_Curb: double (nullable = true)
 |-- Violation_Post_Code: string (nullable = true)
 |-- Violation_Description: string (nullable = true)
 |-- No_Standing_or_Stopping_Violation: string (nullable = true)
 |-- Hydrant_Violation: string (nullable = true)
 |-- Double_Parking_Violation: string (nullable = true)
 |-- Latitude: string (nullable = true)
 |-- Longitude: string (nullable = true)
 |-- Community_Board: string (nullable = true)
 |-- Community_Council_: string (nullable = true)
 |-- Census_Tract: string (nullable = true)
 |-- BIN: string (nullable = true)
 |-- BBL: string (nullable = true)
 |-- NTA: string (nullable = true)
 |-- year: integer (nullable = true)
 |-- month: integer (nullable = true)

### Select unique Registration_State from table using spark and spark.sql. To use spark.sql, the dataframe needs to be converted to a table.

In [20]:
df.select('Registration_State').distinct().show()

+------------------+
|Registration_State|
+------------------+
|                AZ|
|                SC|
|                NS|
|                LA|
|                MN|
|                NJ|
|                DC|
|                OR|
|                99|
|                VA|
|                RI|
|                KY|
|                WY|
|                BC|
|                NH|
|                MI|
|                NV|
|                GV|
|                QB|
|                WI|
+------------------+
only showing top 20 rows

In [11]:
df.createOrReplaceTempView("df_table")

In [24]:
spark.sql(""" SELECT DISTINCT Registration_State FROM df_table """).show()

+------------------+
|Registration_State|
+------------------+
|                AZ|
|                SC|
|                NS|
|                LA|
|                MN|
|                NJ|
|                DC|
|                OR|
|                99|
|                VA|
|                RI|
|                KY|
|                WY|
|                BC|
|                NH|
|                MI|
|                NV|
|                GV|
|                QB|
|                WI|
+------------------+
only showing top 20 rows

### Select the number of entries from each Registration_State

In [8]:
df.groupBy('Registration_State').count().show()

+------------------+-------+
|Registration_State|  count|
+------------------+-------+
|                AZ|  30015|
|                SC|  25418|
|                NS|    858|
|                LA|   3577|
|                MN|  18550|
|                NJ|1080414|
|                DC|   4600|
|                OR|   6177|
|                99|  45242|
|                VA|  81464|
|                RI|  15915|
|                KY|   4664|
|                WY|    347|
|                BC|    294|
|                NH|  10327|
|                MI|  19725|
|                NV|   2479|
|                GV|   1560|
|                QB|   6359|
|                WI|   5438|
+------------------+-------+
only showing top 20 rows

In [20]:
# Use count function
from pyspark.sql.functions import count

df.groupby('Registration_State').agg(count("Plate_ID").alias("quan")).show()

+------------------+-------+
|Registration_State|   quan|
+------------------+-------+
|                AZ|  30015|
|                SC|  25418|
|                NS|    827|
|                LA|   3577|
|                MN|  18550|
|                NJ|1080413|
|                DC|   4600|
|                OR|   6177|
|                99|  45238|
|                VA|  81464|
|                RI|  15915|
|                KY|   4664|
|                WY|    347|
|                BC|    294|
|                NH|  10327|
|                MI|  19725|
|                NV|   2479|
|                GV|   1560|
|                QB|   6359|
|                WI|   5438|
+------------------+-------+
only showing top 20 rows

In [13]:
spark.sql("""SELECT Registration_State, COUNT(*) AS count FROM df_table GROUP BY Registration_State""").show()

+------------------+-------+
|Registration_State|  count|
+------------------+-------+
|                AZ|  30015|
|                SC|  25418|
|                NS|    858|
|                LA|   3577|
|                MN|  18550|
|                NJ|1080414|
|                DC|   4600|
|                OR|   6177|
|                99|  45242|
|                VA|  81464|
|                RI|  15915|
|                KY|   4664|
|                WY|    347|
|                BC|    294|
|                NH|  10327|
|                MI|  19725|
|                NV|   2479|
|                GV|   1560|
|                QB|   6359|
|                WI|   5438|
+------------------+-------+
only showing top 20 rows